@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: Inconsolata, Consolas, "Courier New", monospace;
    max-width: 700px;
    margin: 0 auto;
    color: #839496;
    background-color: #002b36;
}

h1, h2 {
    font-variant: small-caps;
    border-bottom: 1px solid;
}

:link {
    color: #b58900;
}

:visited {
    color: #cb4b16;
}

:link:hover {
    background-color: #073642;
}

td.day > sup {
    line-height: 0;
}

table#left {
    float: left;
    margin: 0 3em 0 0;
}

table#right {
    margin: 0 0 3em 0;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background: #073642;
}

tr:nth-child(even) :link:hover {
    background-color: #002b36;
}

td, th {
    padding:.7em;
}

tr td {
    text-align: right;
}

tr td:nth-child(2) {
    text-align: left;
}

td.year, td.day {
    font-weight: bold;
}

ul {
    list-style: circle;
}

p.tstamp {
    font-style: italic;
    font-size: small;
    color: #586e75;
    text-align: right;
}
